<ion-content>
  <div class="listado-general">
    <div class="call-chat-card ion-activatable ripple-parent" *ngFor="let item of util.userList; let i = index;">
      <ion-row class="call-chat-content">
        <ion-ripple-effect></ion-ripple-effect>
        <ion-col size="2">
          <ion-icon class="mentor-cover-image" name="person-add-outline" *ngIf="i % 2 != 0" color="success"></ion-icon>
          <ion-icon class="mentor-cover-image" name="person-outline" *ngIf="i % 2 == 0" color="danger"></ion-icon>
        </ion-col>
        <ion-col size="8">
          <div class="name-content">
            <ion-label class="name"> 
              ASISTENCIA 
              <ng-container *ngIf="i % 2 != 0">ENTRADA</ng-container>
              <ng-container *ngIf="i % 2 == 0">SALIDA</ng-container>
            </ion-label>
            <div class="more-data">
              <ion-icon name="timer-outline" *ngIf="i % 2 != 0" color="success"></ion-icon>
              <ion-icon name="timer-outline" *ngIf="i % 2 == 0" color="danger"></ion-icon>
              <ion-label class="lbl">11:00:00</ion-label>
              <div class="line"></div>
              <ion-icon name="calendar-outline" *ngIf="i % 2 != 0" color="success"></ion-icon>
              <ion-icon name="calendar-outline" *ngIf="i % 2 == 0" color="danger"></ion-icon>
              
              <ion-label class="lbl">Aug 30, 2023</ion-label>
            </div>
          </div>
        </ion-col>
        <ion-col size="2">
          <div class="end-btn">
            <ion-icon name="eye-outline" color="primary" class="call-btn" (click)="openModal()"></ion-icon>
          </div>
        </ion-col>
      </ion-row>
    </div>
  </div>
</ion-content>
