<!--
  Authors : initappz (Rahul Jograna)
  Website : https://initappz.com/
  App Name : E-Learning-1 This App Template Source code is licensed as per the
  terms found in the Website https://initappz.com/license
  Copyright and Good Faith Purchasers © 2023-present initappz.
-->
<ion-header class="ion-no-border">
  <ion-toolbar mode="ios">
    <ion-buttons slot="start">
      <ion-back-button [text]="'Atrás'" [icon]="'arrow-back-outline'"></ion-back-button>
    </ion-buttons>
    <ion-title>Notificaciones</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="notification-screen">
    <ion-label class="main-title">Hoy</ion-label>
    <ion-card mode="ios" class="card-content" *ngFor="let item of [1,2]">
      <div class="prefix">
        <ion-icon name="grid-outline" color="dark"></ion-icon>
      </div>
      <div class="name-content">
        <ion-label class="title">New Category Course.!</ion-label>
        <ion-label class="sub-title">New the 3D Design Course is Available</ion-label>
      </div>
    </ion-card>
    <ion-label class="main-title">Ayer</ion-label>
    <ion-card mode="ios" class="card-content" *ngFor="let item of [1,2]">
      <div class="prefix">
        <ion-icon name="grid-outline" color="dark"></ion-icon>
      </div>
      <div class="name-content">
        <ion-label class="title">New Category Course.!</ion-label>
        <ion-label class="sub-title">New the 3D Design Course is Available</ion-label>
      </div>
    </ion-card>
    <ion-label class="main-title">Lunes 22, 2023</ion-label>
    <ion-card mode="ios" class="card-content" *ngFor="let item of [1,2]">
      <div class="prefix">
        <ion-icon name="grid-outline" color="dark"></ion-icon>
      </div>
      <div class="name-content">
        <ion-label class="title">New Category Course.!</ion-label>
        <ion-label class="sub-title">New the 3D Design Course is Available</ion-label>
      </div>
    </ion-card>
  </div>
</ion-content>