/*
  Authors : initappz (Rahul Jograna)
  Website : https://initappz.com/
  App Name : E-Learning-1 This App Template Source code is licensed as per the
  terms found in the Website https://initappz.com/license
  Copyright and Good Faith Purchasers © 2023-present initappz.
*/

.infinite-bg {
  margin-top: 5px;
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
  border-radius: 10px;

  /* Usa tu color base */
  background-color: var(--background, #F5F9FF);

  /* Fondo animado */
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAIAAACRXR/mAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAIGNIUk0AAHolAACAgwAA+f8AAIDpAAB1MAAA6mAAADqYAAAXb5JfxUYAAABnSURBVHja7M5RDYAwDEXRDgmvEocnlrQS2SwUFST9uEfBGWs9c97nbGtDcquqiKhOImLs/UpuzVzWEi1atGjRokWLFi1atGjRokWLFi1atGjRokWLFi1af7Ukz8xWp8z8AAAA//8DAJ4LoEAAlL1nAAAAAElFTkSuQmCC");
  background-repeat: repeat;
  background-size: 50px 50px;
  background-blend-mode: multiply; /* 🔹 Se mezcla con el color base */
  /* 🔹 Más lento y suave */
  animation: bg-scroll 3s linear infinite;
}

@keyframes bg-scroll {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 50px 50px;
  }
}

.infinite-text {
  font-family: 'Exo', sans-serif;
  font-weight: 700; /* más grueso */
  font-size: 3rem;
  color: var(--ion-color-secondary);
  text-align: center;
  position: relative;
  z-index: 1;
}

