.calendar-container {
    width: 99%; /* Ajusta el ancho según tus necesidades */
    max-width: 600px; /* Ajusta el máximo ancho según tus necesidades */
    height: 70%; /* Ajusta la altura según tus necesidades */
    max-height: 600px; /* Ajusta la máxima altura según tus necesidades */
    margin: 0 auto; /* Centra el contenedor */
    overflow: hidden; /* Evita que el contenido se desborde */
  }

  ion-footer {
    background-color:  #F5F9FF !important;
 
  }
  
  