
<ion-header class="ion-no-border credencial-top">
  <ion-toolbar  class="credencial-top">
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>


<ion-content class="credencial-digital-screen">
  
  
  <div class="id-card">
    <div class="id-header">
       <img class="id-photo" src="assets/images/avatar/2.jpg" alt="photo" />
    </div>
    
    <div class="id-details">
      <h1 class="m-name">Jesus <br>Olvera Camarillo</h1>
      <h3 class="m-designation">Desarrollador Netsuit/Mobil</h3>

     
    </div>
  </div>
  <div class="id-footer ion-margin-bottom">
    GRUPO ZET INTERNACIONAL S.A DE C.V
  </div>


<ion-list class="ion-margin" lines="full" >


  <ion-item button detail="false">
    <ion-icon name="briefcase" aria-hidden="true" slot="start"></ion-icon>
   
    <ion-label>
      <h3>Seguro Social</h3>
      <p class="texto_r">56169991181</p>
    </ion-label>
  </ion-item>
  <ion-item button detail="false">
    <ion-icon name="mail" aria-hidden="true" slot="start"></ion-icon>
    <ion-label>
      <h3>Correo Electronico</h3>
      <p class="texto_r">jesus_olvera15c@hotmail.com</p>
    </ion-label>
  </ion-item>
  <ion-item button detail="false">
    <ion-icon name="person" aria-hidden="true" slot="start"></ion-icon>
   
    <ion-label>
      <h3>Numero Empleado</h3>
      <p class="texto_r">200567</p>
    </ion-label>
  </ion-item>

  <ion-item  lines="none" button detail="false">
    <ion-icon name="calendar"  aria-hidden="true" slot="start"></ion-icon>
    <ion-label>
      <h3>Fecha de Ingreso</h3>
      <p class="texto_r">01 de marzo del 2024</p>
    </ion-label>
  </ion-item>



</ion-list>



</ion-content>