
.time-picker-container {
  text-align: center;
  padding: 16px; /* Añade espacio interno */
}

.title {
  font-size: 18px;
  margin-bottom: 16px;
  color: var(--ion-color-primary);
}

/* Estilos para el ion-datetime */
ion-datetime {
  --padding-start: 0;
  --padding-end: 0;
  --background: transparent;

  /* Ajusta el tamaño del datetime */
  width: 100%;
  max-width: 300px; /* Ancho máximo */
  margin: 0 auto; /* Centra el datetime */
  font-size: 16px; /* Tamaño de fuente más grande */
}