

.map {
    width: 100%;  /* Ancho completo */
    height: 40vh; /* Ocupa la mitad de la altura de la pantalla */
  }
  
  .correcta {
    color: green; /* Color verde para correcta */
  }
  
  .incorrecta {
    color: red; /* Color rojo para incorrecta */
  }
  